doctype html
html
    h2= post[0].headLine
    img(src="../images/switchesCollisionDomains.png")
    h3= post[0].subHeadLine
    p= post[0].content

    h2= post[1].headLine
    img(src="../images/switchesCollisionDomains.png")
    h3= post[1].subHeadLine
    p= post[1].content